@media(min-width:576px){
    .navbar{
        max-width: 540px;
    }
}
@media(min-width:768px){
    .navbar{
        max-width: 720px;
    }
}

@media(min-width:992px){
    .navbar{
        max-width: 960px;
    }
}

.navbar{
    width: 100%;
    margin-right: auto;
    margin-left:auto ;
    padding: 15px;
    text-align: center;
    align-items: center;
    
}
.preview-navbar{
    background-color: black;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left:auto ;
    padding: 0px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    position: fixed;
    z-index: 1;
}
.title{
    display: flex;
    line-height: 100%;
    text-align: center;
    align-items: center;
}
@media(min-width:576px){
    h1 {
        font-size:32px;
    }
}
main{
    padding-top: 118px;
}
h4 {
    font-weight: 900;
}
.share{
    text-align: center;
    align-items: center; 
}
.share-contents{
    display: flex;
    justify-content:space-between;
    width:100%;
    font-weight: 500;
    font-size: 28px;
}
.share-content{
    padding: 10px;
    border:solid gray;
    color: gray;
    width:70px;
}
.share-content:hover{
    color:#ffffff;
    border:solid #ffffff;
    text-decoration: none;
}
header.whoiam{
    padding: 60px 0 40px;
}
#text-center{
    text-align: center;
}
h1{
    font-size: 64px;
    color: #fff;
    margin: 0 0 12.5px;
}
h1,h2,h3,h4{
    font-family: Oswald,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
}
@media(max-width:767px){
    h1{
        font-size:50px;
    }
    header.whoiam{
        padding: 40px 0 0px;
    }
    .share-content{
        margin: 10px 0;
        width:60px;
    }
    .share.col-6{
        padding-right: 0;
        padding-left: 0;
    }
    small{
        font-size: 70%;
    }
    
}
p{
    color: #fff;
}
.card{
    margin: 15px;
    padding: 4rem;
}
.card h2{
    padding: 0 0 40px 0 ;
}
.container{}